<div class="header">
    <ul class="clearfix">
        <li>
            <a href="/views/index.html">HOME</a>
        </li>
        <li class="example active">
            <a href="/views/example.html">EXAMPLE</a>
        </li>
        <li>
            <a target="_blank" href="/api/index.html">API</a>
        </li>
        <li>
            <a target="_blank" href="/test/index.html">UNIT</a>
        </li>
    </ul>
</div>

<script src="../static/example/example.js"></script>
<link rel="stylesheet" href="../static/example/example.less">

<script src="/src/web/lib/highlight.min.js"></script>
<link rel="stylesheet" href="/src/web/lib/github.css">